:root {
    --board-background: none;
    --border-color: black;
    --border-thickness: 2px;
}

.reset-button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40%;
  will-change: transform;
  margin-top: 15px;
  margin-bottom:15px;
}

.reset-button:disabled {
  pointer-events: none;
  margin-top: 15px;
  margin-bottom:15px;
}

.reset-button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  margin-top: 15px;
  margin-bottom:15px;
}

.reset-button:active {
  box-shadow: none;
  transform: translateY(0);
  margin-top: 15px;
  margin-bottom:15px;
}

.board {
    width: 350px;
    height: 350px;
    background-color: var(--board-background);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}
 
.input {
    height: 33%;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-inside {
    height: 90%;
    width: 90%;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(187, 186, 191);
    font-family: 'Bellefair', serif;
    font-style: italic;
    font-weight: 650;
    font-size: 6rem;
}
 
.input-1 {
    border-right: var(--border-thickness) solid var(--border-color);
    border-bottom: var(--border-thickness) solid var(--border-color);
}
 
.input-2 {
    border-right: var(--border-thickness) solid var(--border-color);
    border-bottom: var(--border-thickness) solid var(--border-color);
}
 
.input-3 {
    border-bottom: var(--border-thickness) solid var(--border-color);
}
 
.input-4 {
    border-right: var(--border-thickness) solid var(--border-color);
    border-bottom: var(--border-thickness) solid var(--border-color);
}
 
.input-5 {
    
    border-right: var(--border-thickness) solid var(--border-color);
    border-bottom: var(--border-thickness) solid var(--border-color);
}
 
.input-6 {
    border-bottom: var(--border-thickness) solid var(--border-color);
}
 
.input-7 {
    border-right: var(--border-thickness) solid var(--border-color);
}
 
.input-8 {
    border-right: var(--border-thickness) solid var(--border-color);
}

